{
  "extended-id" "ElasticConstantsFirstStrainGradientCubic__TD_777729378961_000"
  "description" "Nikhil, please write a description here for each Test that will go into their kimspec.edn files"
  "kim-api-version" "1.6"
  "domain" "openkim.org"
  "title" "Nikhil, please write a one-sentence title for each Test here that will go into their kimspec.edn files"
  "pipeline-api-version" "1.0"
}
