{
  "extended-id" "ElasticConstantsFirstStrainGradientCubic__TD_777729378961_000"
  "description" "The isothermal classical and first strain gradient elastic constants for a crystal at 0 K and zero stress."
  "kim-api-version" "1.6"
  "domain" "openkim.org"
  "title" "Classical and first strain gradient elastic constants for simple lattices"
  "pipeline-api-version" "1.0"
}
